[bumpversion]
current_version = 1.5.1

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:cmd/root.go]
search = const Version = "{current_version}"
replace = const Version = "{new_version}"

[bumpversion:file:api/controller.go]
search = const Version = "{current_version}"
replace = const Version = "{new_version}"
